@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
}

:root {
    --background: #f5f5f5;
    --borda_cinza: #474747;
    --background_cinza: #c7c7c7;
}

.campoTextoItem[type="text"] {
    display: flex;
    border: none;
    background-color: transparent;
    font-size: 17px;
    width: 165px;
    padding-right: 10px;
    font-weight: 300;
}

.campoTextoItem:focus {
    outline: none;
}

.headerItem {
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background_cinza);
    padding: 10px 20px;
}

.imgAdicionarItem {
    width: 20px;
    height: 20px;
    background-color: var(--background_cinza);
}

.divItens{
    background-color: var(--background_cinza);
    padding: 10px 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.item{
    list-style: none;
    background-color: var(--background_cinza);
}

.imgDeletarItem{
    width: 20px;
    height: 20px;
    background-color: var(--background_cinza);
}





/* 


input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin-right: 8px;
  vertical-align: middle;
}

 Estilo da checkbox customizada quando marcada 
input[type="checkbox"]:checked + label::before {
    background-color: #007bff; /* Cor de fundo quando marcada 
    border-color: #007bff; /* Cor da borda quando marcada 
  }









.li {
    list-style: none;
}



.lixeira {
    padding-top: 4px;
    width: 1x;
    height: 10px;
}

.botaoDelete {
    border: none;
}




 */

/* 


 

.adicionaCategoria {
    display: flex;
    margin-bottom: 30px;
    border: 1.5px solid var(--borda_cinza);
    border-radius: 10px;
    padding: 10px 12px;
    width: 200px;
    
}

.campo_texto[type="text"] {
    display: flex;
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 165px;
    padding-right: 10px;
    font-weight: 300;
}

.campo_texto:focus {
    outline: none;
}

.imgAdicionar {
    width: 25px;
    height: 25px;
}

.botaoAdicionar {
    border: none;
}

.categorias {
    display: flex;
    justify-content: space-between;
}

.li {
    list-style: none;
}



.lixeira {
    width: 18px;
    height: 20px;
    background-color: var(--borda_cinza);
}

.botaoDelete {
    border: none;
    padding: 0px 0px;
}

.headerCategoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--borda_cinza);
    width: 320px;
    padding: 20px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--background);
} */