@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
}

:root {
    --background: #f5f5f5;
    --borda_cinza: #474747;
}

.adicionaCategoria {
    display: flex;
    margin-top: 20px;
    border: 1.5px solid var(--borda_cinza);
    border-radius: 10px;
    padding: 10px 12px;
    width: 200px;
}

.campo_texto[type="text"] {
    display: flex;
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 165px;
    padding-right: 10px;
    font-weight: 300;
}

.campo_texto:focus {
    outline: none;
}

.imgAdicionar {
    padding-top: 4px;
    width: 25px;
    height: 25px;
}

.botaoAdicionar {
    border: none;
}

.categorias {
    display: flex;
    justify-content: space-between;
}

.li {
    list-style: none;
}

.tituloCategoria {
    font-size: 20px;
    font-weight: 600;
}

.lixeira {
    padding-top: 4px;
    width: 1x;
    height: 10px;
}

.botaoDelete {
    border: none;
}

.tituloCategoria{
    display: flex;
    flex-direction: row;
    align-items: center;
}

