@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
}

:root {
    --background: #f5f5f5;
    --borda_cinza: #474747;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: var(--borda_cinza);
    font-size: 40px;
}